<div class="panel panel-default">
	<div class="panel-heading">角色授权</div>
	<div class="panel-body">
		<div class="col-md-12">
			<div class="form-group col-md-2">
				<select class="form-control"
						ng-options="platform as platform.platformName for platform in platforms"
						ng-change = "changePlatform()"
						ng-model="platform">
						<option value="">所属平台</option>
				</select>
		    </div>
		</div>
		 
		<div class="col-md-12">
			<div class="form-group col-md-2">
				<select class="form-control"
						ng-options="role as role.name for role in role_list"
						ng-change = "changeRole()"
						ng-model="role">
						<option value="">所属角色</option>
				</select>
		    </div>
	    </div>
	    <div class="col-md-12">
	    	<div class="form-group col-md-2">
	    	</div>
			<div class="form-group col-md-2">
				<button class="btn btn-info" type="button" ng-click="saveRoleFunction()">保存</button>
		    </div>
	    </div>
	    <div class="col-md-12">
			<ul id="treeDemo" class="ztree" style="width: 600px;height: 600px"></ul>
		</div>
	</div>
</div>